


.bg-purple{
    color: white!important;
    background: linear-gradient(135deg, #37315e, rgb(57, 23, 170))!important;
  }

  .bg-pink{
    background-color: #ce3b60;
    border-color: #ca3a5e!important;
  background: rgb(201, 84, 113);
  background: linear-gradient(227deg, rgb(175, 74, 99) 0%, rgb(199, 58, 93) 100%)!important;
  color: white!important;
  }

  :root{
    --offcanvas-width:270px; 
    --topNavbarHeight: 56px;
  }

 
  

.sidebar-link{
   display:flex;
   align-items: center;
   color: white;
   opacity: 0.7;
 text-decoration: none;
  
}
.sidebar-link a:hover{
    text-decoration: none;
    color: white !important;

}

.sidebar-link .right-icon{
   display: inline-flex;
   transition: all 0.25s;
}
.sidebar-link[aria-expanded="true"].right-icon{
    transform: rotate(180deg);
}




.sidebar-nav{
    width: var(--offcanvas-width);
    
}

.card-footer .right-icon{
  float: inline-end;
    
 }


 .sub-sidenavbar-footer{
 text-align: center;

 }

 
 .menu-icon{
  
    
  
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

   

    color: white!important;
   
   
}




  @media (min-width:992px) {
      body{
          overflow: auto !important;
      }

.offcanvas-backdrop::before{
   display: none; 
}

main{
    margin-left: var(--offcanvas-width) ;
}

.sidebar-nav{
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height:calc(100% -var(--topNavbarHeight)) ;
       
 }

 footer{
  margin-left: var(--offcanvas-width) ;
 }
 

}
