


.bg-purple{
    color: white!important;
    background: linear-gradient(135deg, #37315e, rgb(57, 23, 170))!important;
  }

  .bg-pink{
    background-color: #ce3b60;
    border-color: #ca3a5e!important;
  background: rgb(201, 84, 113);
  background: linear-gradient(227deg, rgb(175, 74, 99) 0%, rgb(199, 58, 93) 100%)!important;
  color: white!important;
  }

  :root{
    --offcanvas-width:270px; 
    --topNavbarHeight: 56px;
  }

 
  

#offcanvasNavbar{
  width: 30vh;
}
.offcanvas-body{
 
  width: 30vh;
}

.sidenav-footer{
  width: 25vh;
margin-top: 450px ;
text-align: center;
  padding: 0.75rem;
 
}

.sb-sidenav-collapse-arrow{
 display: inline-block;

  text-align: end;
}

